.create__cont {
  position: relative;
  margin-bottom: 258px;
}
.create__box {
  margin: 0 auto;
  width: 770px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create__title {
  margin-bottom: 46px;
  @extend %section-title;
  font-size: 42px;
  line-height: 1.19;
  text-align: center;
}
.create__title-akcent {
  color: $color-akcent;
}
.create__button {
  padding: 17px 0;
  width: 164px;
  color: #fff;
  background-color: $color-akcent;
}
.create__picture {
  position: absolute;
  top: 61px;
  left: -52px;
  z-index: -1;
  pointer-events: none;
}
