.increase {
  padding: 150px 0;
}
.increase__cont {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.increase__content {
  width: 470px;
  margin-right: 58px;
}
.increase__title {
  margin-bottom: 32px;
  @extend %section-title;
  font-size: 42px;
  line-height: 1.19;
}
.increase__title-span {
  color: $color-akcent;
}
.increase__text {
  margin-bottom: 43px;
  line-height: 1.87;
  letter-spacing: 0.5px;
}
.increase__button {
  padding-top: 13px;
  padding-bottom: 13px;
  width: 157px;
  color: #fff;
  background-color: $color-akcent;
}
.increase__img {
  position: relative;
  width: 440px;
  height: 400px;
}
.increase__img-photo {
  position: absolute;
  top: 0;
  left: 107px;
  z-index: 1;
  border-radius: 10px;
}
.increase__img-group {
  position: absolute;
  top: 17px;
  left: 0;
  z-index: 1;
  border-radius: 10px;
}
.increase__img-rectangle {
  position: absolute;
  top: 317px;
  left: 95px;
  z-index: 1;
}
.increase__img-stacked {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.increase__picture {
  position: absolute;
  left: -256px;
  bottom: -458px;
  pointer-events: none;
}
