.partners__cont {
  margin-bottom: 100px;
  display: flex;
  justify-content: space-around;
}
.partners__title {
  display: none;
}
.partners__link {
  display: inline-block;
  cursor: pointer;
  color: #b5b5b5;
  transition: color 250ms linear;
  &:hover {
    color: $color-akcent;
  }
}
.partners__icon {
  width: 105px;
  height: 25px;
  fill: currentColor;
}
