.savemoney__cont {
  margin-bottom: 169px;
}
.savemoney__title {
  margin-bottom: 32px;
  @extend %section-title;
  font-size: 42px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.33px;
}
.savemoney__title-akcent {
  color: $color-akcent;
}
.savemoney__text {
  margin-bottom: 48px;
  font-size: 15px;
  line-height: 1.33;
  text-align: center;
  letter-spacing: 0.2px;
}
.savemoney__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 109px;
}
.savemonay__item-title {
  margin-bottom: 16px;
  @extend %section-title;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.33px;
}
.savemoney__item-text {
  line-height: 1.33;
  text-align: center;
}
